<h1 style="text-align: center;">Récuperation de Mot de passe</h1>
<form class="mx-auto w-25 user" [formGroup]="forgetPswForm">
    <div *ngIf="displayEmail == true">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control form-control-user" formControlName="email">
        </div>
        <button class="btn btn-success btn-user" (click)="sendMail()">Envoyer</button>
    </div>
    <div *ngIf="displayCode == true">
        <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control form-control-user" formControlName="code">
        </div>
        <button class="btn btn-success btn-user" (click)="confirmCode()">Confirmer</button>
    </div>

    <div *ngIf="displayUpdate == true">
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control form-control-user" formControlName="psw">
        </div>
        <div class="form-group">
            <label>Confirmer mot de passe</label>
            <input type="password" class="form-control form-control-user" formControlName="confirmPsw">
        </div>
        <button class="btn btn-primary mr-3 btn-user"
            [disabled]="(forgetPswForm.controls['psw'].value != forgetPswForm.controls['confirmPsw'].value && forgetPswForm.controls['confirmPsw'].dirty) || forgetPswForm.controls['psw'].value ===''   "
            (click)="updatePsw()">Confirmer</button>
        </div>
</form>